/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485
*/
*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

@keyframes moveToRight {
  0% {
    opacity: 0;
    transform: translateX(-20rem); }
  80% {
    opacity: .8; }
  100% {
    opacity: 1;
    transform: translateX(0.3rem); } }

@keyframes moveToLeft {
  0% {
    opacity: 0;
    transform: translateX(20rem); }
  80% {
    opacity: .8; }
  100% {
    opacity: 1;
    transform: translateX(0.3rem); } }

@keyframes moveToTop {
  0% {
    opacity: 0;
    transform: translateY(20rem); }
  80% {
    opacity: .8; }
  100% {
    opacity: 1;
    transform: translateY(0.3rem); } }

body {
  font-family: "Lato",sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #fff;
  margin: 3rem; }

.heading-secondary {
  background-image: linear-gradient(to right bottom, #55c57a, #7ed56f);
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  color: transparent;
  -webkit-background-clip: text;
  display: inline-block;
  transition: all .2s;
  letter-spacing: .2rem; }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.2);
    text-shadow: 0 1rem 2rem #55c57a; }

.heading-tertiary {
  color: #777;
  font-size: 2rem;
  text-transform: uppercase; }

.paragrap {
  font-size: 1.6rem;
  color: #777; }
  .paragrap:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center; }

.u-margin-small {
  margin-bottom: 2rem; }

.u-margin-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    position: absolute;
    box-sizing: 0 1rem 2rem #000;
    border-radius: .2rem;
    z-index: 10;
    display: inline-block;
    transition: all .2s;
    outline-offset: 2rem; }
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
    .composition__photo--p2 {
      right: 0;
      top: 2rem; }
    .composition__photo--p3 {
      left: 20%;
      top: 10rem; }
    .composition__photo:hover {
      outline: 1rem solid #55c57a;
      z-index: 20;
      transform: scale(1.05) translateY(0.5rem);
      box-shadow: 0 2.5rem 4rem #000; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

.btn:link, .btn:visited {
  padding: 2rem 4rem;
  background: #fff;
  border-radius: 10rem;
  color: #777;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.6rem;
  display: inline-block;
  transition: all .2s;
  position: relative; }

.btn:hover {
  transform: translateX(0.3rem);
  box-shadow: 0 0.5rem 1rem #fff; }

.btn:active {
  transform: translateX(0.4rem);
  box-shadow: 0 1rem 2rem #fff; }

.btn-animation {
  animation: moveToTop .6s ease-out; }

.btn::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  background: #fff;
  border-radius: 10rem;
  transition: all .2s;
  display: inline-block; }

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0; }

.btn-text:link, .btn-text:visited {
  text-decoration: none;
  font-size: 1.6rem;
  border-bottom: 0.1rem #55c57a solid;
  padding: .3rem;
  color: #55c57a;
  display: inline-block;
  transition: all .2s; }

.btn-text:hover {
  background-color: #55c57a;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15); }

.btn-text:active {
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.15);
  transform: translateX(0.3rem); }

.header {
  background: linear-gradient(to right bottom, rgba(85, 197, 122, 0.2), rgba(126, 213, 111, 0.6)), url("../../img/hero.jpg") no-repeat;
  height: 95vh;
  background-position: top;
  background-size: cover;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo-while {
    height: 4rem; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
  .header__heading-primary {
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 3rem;
    text-align: center;
    margin-bottom: 2rem; }
  .header__heading-primary--main {
    font-size: 12rem;
    animation: moveToRight .6s ease-out;
    display: inline-block;
    margin-bottom: -8.8rem;
    padding: 0 0; }
  .header__heading-primary--sub {
    font-size: 1.1rem;
    display: inline-block;
    animation: moveToLeft .6s ease-out; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 2rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row .col-1-of-2 {
    width: calc((100% - 2rem)/2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 2rem)/3); }
  .row .col-1-of-4 {
    width: calc((100% - 3 *  2rem)/4); }
  .row .col-2-of-3 {
    width: calc((100% - 2rem)/2 + 2rem); }
  .row .col-2-of-4 {
    width: calc( (100% - 3 *  2rem)/2); }
  .row .col-1-of-5 {
    width: calc((100% - 4 * 2rem)/5); }
  .row .col-3-of-5 {
    width: calc(3 * ((100% - 4 * 2rem)/5) + (2 * 2rem)); }
  .row .col-2-of-5 {
    width: calc( 2 * ((100% - 4 * 2rem)/5) + (1 * 2rem)); }

.section-about {
  background-color: #f7f7f7;
  padding: 20rem 0;
  margin-top: -20vh; }
