.composition{
    position: relative;
    &__photo{
        width: 55%;
        position: absolute;
        box-sizing: 0 1rem 2rem $color-black;
        border-radius: .2rem;
        z-index: 10;
        display: inline-block;
        transition: all .2s;
        outline-offset: 2rem;
        &--p1{
         left:0;
         top: -2rem;
        }
        &--p2{
            right:0;
            top: 2rem;
           }
           &--p3{
               left:20% ;
               top: 10rem;
           }
           &:hover{
               outline: 1rem  solid $color-primary;
        z-index: 20;
        transform: scale(1.05) translateY(.5rem);
        box-shadow: 0 2.5rem 4rem $color-black;
    }
}
&:hover &__photo:not(:hover){
    transform: scale(0.95);
}
}
    