@mixin position($ligh,$top,$left) {
    position: $ligh;
    top: $top;
    left: $left;
}
@mixin  btnStyle($paddingTB,$paddingLR,$backGround-color
,$width-radius,$color) {
    padding: $paddingTB $paddingLR;
    background:$backGround-color;
    border-radius: $width-radius;
    color: $color;
}
@mixin  linkStyle {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.6rem;
}

@mixin  clearfix {
    &::after{
        content: "";
        display: table;
        clear: both;
    }
}